<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>

<link href="css/title.css" rel="stylesheet">

<body style="margin: auto;">
  <div style="
  display: grid;
  align-items: center;
  height:100%; background-color: rgba(101, 232, 169, 0.18);">
    <h1>Welcome!</br> Тепер це твій блог:)</h1>

    <p style="background-color: rgba(11, 100, 160, 0.15); font-size: large;">
      Тут ти можеш ділитися своїми думками, емоціями та враженнями, виставляючи пости.</br>
      Розпочинай прямо зараз, перейшовши на сторінку "Додати новий пост" у навігації.</br>
      Переглянути усі пости можна на сторінці " Пости".
    </p>
    <p>Створено за допомогою Node&Express.js та MongoDB&Mongoose</p>
  </div>
</body>
<%- include('./partials/footer.ejs') %>
