header {
    background-color: rgb(240, 185, 240);
    background-image: url('../images/flywheel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    font-weight: 350;
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 5px 5px;
    table-layout: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

th {
    line-height: 40px;
    background: rgb(101, 232, 169);
    background: linear-gradient(rgb(101, 232, 169) 0%, rgb(101, 232, 217) 100%);
    background: -moz-linear-gradient(top, rgb(101, 232, 169) 0%, rgb(101, 232, 217) 100%);
    background: -webkit-linear-gradient(rgb(101, 232, 169) 0%, rgb(101, 232, 217) 100%);
    background: -o-linear-gradient(rgb(101, 232, 169) 0%, rgb(101, 232, 217) 100%);
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 5px;
    border-color: #000000;
    border-style: solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-transform: uppercase;
}

tr {
    opacity: .8;
}

td:nth-child(4),
:nth-child(5) {
    background-color: rgb(255, 255, 255);
}

tr:hover {
    opacity: 1;
}

td {
    text-align: center;
    background-color: rgb(243, 243, 202);
    color: #212121;
    border-radius: 2px;
    text-shadow: 1px 1px 2px rgb(97, 127, 13);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    display: inline-block;
    background-color: #555555;
    color: aliceblue;
    padding: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
}
